*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header{
    background-color:rgb(31, 31, 35);
    padding-bottom: 10px;
    padding-top: 10px;
    
} */
.tv{
    background-color:rgb(31, 31, 35);
    padding-bottom: 10px;
    padding-top: 10px;
}
.top-var{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.con{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: poppins;
}
.em{
    margin-right: 40px;
}
.fa{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

/* topbar section end here  */
/* navbar section start here  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;;
    background-color: #A0C49D;

}

.lg{
    font-family: syne;
    font-weight: 700;
}
.menus{
    list-style: none;
    display: flex;
}
.menu,li{
    margin-right: 30px;
    font-family: poppins;

}

.fal{
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
/* hero section start here  */

.hero-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
    padding:0px 180px;

}
.hrimage{
    height: 600px;
}
.btxt{
    font-family: syne;
    font-weight: 900;
    font-size: 40px;
}

.subtitle{
    font-family: poppins;
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;

}
.info{
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;

}
.txt-bg-color{
   color: #A0C49D;
   background-color: black;
   padding-left: 20px;
   padding-right:20px;
   padding-bottom: 5px;
   border-radius: 20px;
}

.feature{
margin-top: 30px;
}
.sec-title{
    font-family: syne;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.sec-sub-title{
    text-align: center;
    
}